<html>
    <body bgcolor=#d4a3ae>

        <left>

        <h1> DRY BEAN DETECTION </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> Area :  <input type="text", name='a', placeholder="Nhập dữ liệu"> <br><br>
               Perimeter :  <input type="text", name='b', placeholder="Nhập dữ liệu"> <br><br>
               Major axis length :  <input type="text", name='c', placeholder="Nhập dữ liệu"> <br><br>
               Minor axis length : <input type="text", name='d', placeholder="Nhập dữ liệu"> <br><br>
               Aspect ratio : <input type="text", name='e', placeholder="Nhập dữ liệu"> <br><br>
               Eccentric : <input type="text", name='f', placeholder="Nhập dữ liệu"> <br><br>
               Convex area : <input type="text", name='g', placeholder="Nhập dữ liệu"> <br><br>
               Equivalent diameter : <input type="text", name='h', placeholder="Nhập dữ liệu"> <br><br>
               Extent : <input type="text", name='i', placeholder="Nhập dữ liệu"> <br><br>
               Solidity : <input type="text", name='j', placeholder="Nhập dữ liệu"> <br><br>
               Roundness : <input type="text", name='k', placeholder="Nhập dữ liệu"> <br><br>
               Compactness : <input type="text", name='l', placeholder="Nhập dữ liệu"> <br><br>
               ShapeFactor1 : <input type="text", name='m', placeholder="Nhập dữ liệu"> <br><br>
               ShapeFactor2 : <input type="text", name='n', placeholder="Nhập dữ liệu"> <br><br>
               ShapeFactor3 : <input type="text", name='o', placeholder="Nhập dữ liệu"> <br><br>
               ShapeFactor4 : <input type="text", name='p', placeholder="Nhập dữ liệu"> <br><br><br></b>
            <input type="submit" , value='Dự đoán!' >
        </form>
    </left>

    </body>
</html>